@model InformationViewModel

@{
    ViewData["Title"] = "پنل کاربری "+User!.Identity!.Name;
}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">آموزش با من</a>
            </li>
            <li class="breadcrumb-item active" 
                aria-current="page"> پنل کاربری </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                
                <partial name="_Profile"/>

                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header>
                            <h1> داشبورد </h1></header>
                        <div class="inner">
                            <div class="account-information">
                                <h3> اطلاعات کاربری </h3>
                                <ul>
                                    <li>
                                        <i class="zmdi zmdi-assignment-account">
                                        </i> نام کاربری : @Model!.UserName </li>
                                    <li>
                                        <i class="zmdi zmdi-email">
                                        </i> ایمیل : @Model.Email </li>
                                    <li>
                                        <i class="zmdi zmdi-calendar-check">
                                        </i> تاریخ عضویت : @Model.RegisterDate </li>
                                    <li>
                                        <i class="zmdi zmdi-account">
                                        </i> موجودی حساب : @Model.Wallet تومان </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>
