<footer>
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> دسترسی سریع</h4></header>
                        <ul>
                            <li><a href="">مشاهده تمامی دوره ها</a></li>
                            <li><a href="">قوانین خرید از سایت </a></li>
                            <li><a href="">راهنمای خرید از سایت </a></li>
                            <li><a href="">همکاری با تاپ لرن </a></li>
                            <li><a href="">کسب درآمد از تاپ لرن </a></li>
                            <li><a href="">ماهنامه طراحی وب</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> دسترسی سریع</h4></header>
                        <ul>
                            <li><a href="">مشاهده تمامی دوره ها</a></li>
                            <li><a href="">قوانین خرید از سایت </a></li>
                            <li><a href="">راهنمای خرید از سایت </a></li>
                            <li><a href="">همکاری با تاپ لرن </a></li>
                            <li><a href="">کسب درآمد از تاپ لرن </a></li>
                            <li><a href="">ماهنامه طراحی وب</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> دسترسی سریع</h4></header>
                        <ul>
                            <li><a href="">مشاهده تمامی دوره ها</a></li>
                            <li><a href="">قوانین خرید از سایت </a></li>
                            <li><a href="">راهنمای خرید از سایت </a></li>
                            <li><a href="">همکاری با تاپ لرن </a></li>
                            <li><a href="">کسب درآمد از تاپ لرن </a></li>
                            <li><a href="">ماهنامه طراحی وب</a></li>
                        </ul>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <section class="list">
                        <header><h4> دسترسی سریع</h4></header>
                        <ul>
                            <li><a href="">مشاهده تمامی دوره ها</a></li>
                            <li><a href="">قوانین خرید از سایت </a></li>
                            <li><a href="">راهنمای خرید از سایت </a></li>
                            <li><a href="">همکاری با تاپ لرن </a></li>
                            <li><a href="">کسب درآمد از تاپ لرن </a></li>
                            <li><a href="">ماهنامه طراحی وب</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container">
            <p>
                تمامی حقوق مادی و معنوی این قالب متعلق به <a href=""> تاپ لرن </a> می باشد و هرگونه کپی برداری و انتشار غیر مجاز پیگرد قانونی دارد .
            </p>
        </div>
    </div>
</footer>