<nav>
    <div class="row">
        <div class="col-sm-6 col-xs-12">
            <ul>
                <li>
                    <a href=""> همکاری در فروش </a>
                    <a href=""> درباره ما </a>
                    <a href=""> تماس با ما </a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 col-xs-12">
            <div class="clientarea">
           
                @if (User.Identity is {IsAuthenticated: true })
                {
                    <div class="loggein">
                        <i class="zmdi zmdi-account"></i>
                        <a
                            asp-controller="Home"
                            asp-action="Index"
                            asp-area="UserPanel">
                            @User.Identity.Name ، خوش آمدی
                        </a>
                        <form
                            asp-controller="Account"
                            asp-action="LogOut"
                            method="POST"
                            style="display: inline;
                                   padding: 0 10px">

                          <button
                                type="submit"
                                class="btn btn-link text-white">
                                خروج
                            </button>

                        </form>
                      
                    </div>
                }
                else
                {
                    <div class="signin ">
                        <i class="zmdi zmdi-account"></i>
                        <a asp-action="Login"
                           asp-controller="Account">
                            ورود
                        </a> /
                        <a asp-action="Register"
                           asp-controller="Account">
                            عضویت
                        </a>
                    </div>
                }

            </div>
        </div>
    </div>
</nav>