<!DOCTYPE html>
<html class="no-js" dir="rtl" lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title> آموزش من |@ViewData["Title"] </title>
    <partial name="_MetaTags"/>
    <partial name="_Style"/>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<script src="/js/modernizr-custom.js"></script>

<div class="landing-layer">
    <div class="container">
        <partial name="_Header"/>
        @RenderSection("SearchBox", false)
    </div>
</div>
<partial name="_MainMenu"/>
@RenderBody()
<partial name="_Footer"/>

<script src="/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
<script src="/js/jquery.validate.js"></script>
<script src="/js/jquery.validate.unobtrusive.js"></script>
</body>
</html>