@model WebMvc.ViewModels.GetEmailViewModel

<div class="container">

    <div class="alert alert-danger" role="alert">

        <h3>
            با تشکر از شما @Model!.Email
        </h3>
        
        حساب شما با موفقیت ثبت شد

        <a asp-controller="Account"
           asp-action="Login" class="alert-link">
            برای ورود به سایت روی همین لینک بزنید
        </a>

      
    </div>


</div>