@model WebMvc.ViewModels.LoginUserViewModel
@{
    ViewData["Title"] = "ورود به سایت";
}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/">آموزش با من</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">ورود به سایت</li>
    </ul>
</nav>

<main class="client-page">
    <div class="container-content">
        @if (ViewBag.IsSuccess != null)
        {
            <div class="alert alert-success">
                <p class="help-block">ورود با موفقیت انجام شد</p>
            </div>

            <script>
                const delay = 3000; 
                setTimeout(function () { window.location 
                = "https://localhost:44300/userpanel"; }, delay);
            </script>
        }
        <header>
            <h2> ورود به سایت </h2>
        </header>

        <div class="form-layer">

            <form 
                asp-controller="Account"
                asp-action="Login" 
                method="post">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="input-group">
                    <span class="input-group-addon" id="email-address">
                        <i class="zmdi zmdi-email"></i>
                    </span>
                    <input
                        asp-for="UserName"
                        type="text"
                        class="form-control"
                        placeholder="نام کاربری">

                </div>
                <span asp-validation-for="UserName"></span>
                <div class="input-group">
                    <span class="input-group-addon" id="password">
                        <i class="zmdi zmdi-lock"></i>
                    </span>
                    <input
                        asp-for="Password"
                        type="password"
                        class="form-control"
                        placeholder="رمز عبور "
                        aria-describedby="password">

                </div>
                <span asp-validation-for="Password"></span>
                <div class="remember-me">
                    <label>
                        <input
                            asp-for="RememberMe"
                            type="checkbox" name=""> مرا بخاطر بسپار
                    </label>
                </div>

                <div class="link">
                    <a asp-action="ForgotPassword"
                       asp-controller="Account">
                        <i class="zmdi zmdi-lock"></i> رمز عبور خود را فراموش کرده ام !
                    </a>
                    <a asp-action="Register"
                       asp-controller="Account">
                        <i class="zmdi zmdi-account"></i> عضویت در سایت
                    </a>
                </div>

                <button class="btn btn-success"> ورود به سایت </button>

            </form>
        </div>

    </div>
</main>