@model WebMvc.ViewModels.RegisterSucceededViewModel

<div class="container">

   <div class="alert alert-success" role="alert">
       <h4 class="alert-heading">
           با تشکر از ثبت نام شما @Model!.UserName عزیز
       </h4>
       <p>
           برای فعال سازی حساب ایمیلی شامل لینک فعال سازی برای شما ارسال شده است
       </p>
     <hr>
     <p class="mb-0">
         درصورت بروز مشکل با پشتیبانی تماس بگیرید
     </p>
   </div>


</div>